{% if mtf == "relm" %}
<h3> CSEP-RELM S-Test</h3>
{% elif mtf == "gem" %}
<h3> GEM S-Test</h3>
{% endif %}

Observed catalog percentile (compared to stochastic event sets):
{{ res.percentile }} </br>
Critical percentile: {{ res.critical_pct }} </br>
Test pass: {{ res.test_res }} </br>

{{ S_test_map_str }}

<p>Map of bins colored by log-likelihood percentile against stochastic events.
    Blue bins, if present, indicate zero likelihood (i.e., earthquakes without
    corresponding model ruptures). </p>